* {
    margin: 0;
    padding: 0;
}

ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Montserrat';
    font-weight: 400;
    padding-top: 40px;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 3px;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-Bold.ttf');
    font-weight: 700;
}


.popularBooks {
    padding: 0 25px;
    margin-top: 24px;

    //popularBooks__title
    &__title {
        color: #000;
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 20px;
    }

    //popularBooks__more
    &__more {
        color: rgba(0, 0, 0, 0.40);
        font-size: 13px;
        font-weight: 400;
        max-width: 84px;
    }

    //popularBooks-book
    &-book {
        position: relative;
        max-width: 31%;
        flex-basis: 31%;

        //popularBooks-book__likeBtn
        &__likeBtn {
            border-radius: 50%;
            border: 1px solid #000;
            padding: 3px 3px 1px 3px;
            background-color: #FFF;
            position: absolute;
            top: 5px;
            right: 11px;
        }

        //popularBooks-book__likeImg
        &__likeImg {
            width: 17px;
            height: 17px;
            fill: white;
        }

        //popularBooks-book--liked
        &--liked {

            .popularBooks-book__likeImg {
                fill: red;
            }
        }

        //popularBooks-book__name
        &__name {
            color: #000;
            font-size: 10px;
            margin-top: 5px;
        }

        //popularBooks-book__author
        &__author {
            color: rgba(0, 0, 0, 0.50);
            font-size: 10px;
        }
    }
}

.rating {
    display: flex;
    align-items: center;

    //rating-stars
    &-stars {

        //rating-stars__star
        &__star {
            margin-right: 2px;
        }
    }

    //rating__mark
    &__mark {
        color: #F00;
        font-size: 10px;
        margin-left: 1px;
    }
}

.genres {
    padding: 0 25px;
    margin-top: 32px;

    //genres__title
    &__title {
        font-weight: 700;
    }

    //genres-tags
    &-tags {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 7px 7px;
        flex-wrap: wrap;
    }
}

.top10 {
    padding: 0 25px;
    margin-top: 30px;

    //top10__title
    &__title {
        font-weight: 700;
    }
}

.recommendation {
    padding: 0 25px;
    margin-top: 30px;

    //recommendation__title
    &__title {
        margin-bottom: 20px;
        color: #000;
        font-size: 30px;
        font-weight: 400;
    }
}

.genresBtns {
    padding: 0 25px;
    margin-top: 30px;

    //genresBtns-wrapper
    &-wrapper {
        display: flex;
        align-items: center;
        gap: 30px 0;
        flex-wrap: wrap;

        //genresBtns-wrapper__btn
        &__btn {
            width: 100%;
            flex-basis: 100%;
        }
    }


}

.catalogTop {
    padding: 0 10px 88px;
    position: relative;

    &::after {
        position: absolute;
        background-image: url('./assets/images/psihologiya_bg.png');
        content: '';
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: -1;
        margin-top: -40px;
        margin-bottom: -33px;
    }

    //catalogTop__title
    &__title {
        color: #FFF;
        font-size: 30px;
        font-weight: 400;
        margin-top: 70px;
    }
}

.catalogMain {
    padding: 0 25px;
    border-radius: 30px 30px 0 0;
    background-color: #FFF;
    margin-top: -70px;

    .book {
        margin-top: 30px;
    }

    .wrapper {
        align-items: start;
        flex-wrap: wrap;
    }
}